@import "variables";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(229, 227, 223);
}

::selection {
  background: $turquoise; /* WebKit/Blink Browsers */
  color: $inverse;;
}
::-moz-selection {
  background: $turquoise; /* Gecko Browsers */
  color: $inverse;
}

.clearfix {
  overflow: auto;
}

#map-canvas {
  height: 100%;
}

#menu-toggle {
  top: 0;
  left: 10px;
  /*padding: 5px;*/
  position: absolute;
  width: 60px;
  z-index: 1;
  color: $wet-asphalt
}

article{
  margin-bottom: 1.2em;
  padding-bottom: .5em;
  min-height: 6em;
}

#datepicker{
  background-color: $clouds;
}